# Module 4 Project
Author: [Curtis Rogers](https://github.com/curt2023/)
Repository: [datafun-04-notebooks](https://github.com/curt2023/datafun-04-notebooks)

## Resources
- [Jupyter Notebook Tips, Tricks, and Shortcuts](https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/) - A blog post with useful tips, tricks, and keyboard shortcuts to enhance your productivity in Jupyter Notebooks.
- [Jupyter Notebook Cheat Sheet](https://cheatography.com/sschaub/cheat-sheets/jupyter-notebook/) - A concise cheat sheet with commonly used commands and shortcuts for Jupyter Notebooks.

## Task 1 - Series

In [57]:
import pandas as pd



grades = pd.Series([87,100,56,23,98,85,72,31,94,83,64,85,76])

grades[0], grades.count(), grades.mean(),grades.min(),grades.max(),grades.std(),grades.describe()

(87,
 13,
 73.38461538461539,
 23,
 100,
 24.18862839413892,
 count     13.000000
 mean      73.384615
 std       24.188628
 min       23.000000
 25%       64.000000
 50%       83.000000
 75%       87.000000
 max      100.000000
 dtype: float64)

## Task 2 -Series from Dictionary

In [58]:
grades_dict = {"Wally" : [87,63,42,84,57], "Sam" : [100,56,87,72,30], "Eva" : [80,85,87,90,76], 
               "Katie" : [96,95,100,98,90], "Bob" : [83,67,98,78,72]}

grades = pd.DataFrame(grades_dict)
grades.index = ["Test1", "Test2", "Test3", "Test4", "Test5"]

grades

       Wally  Sam  Eva  Katie  Bob
Test1     87  100   80     96   83
Test2     63   56   85     95   67
Test3     42   87   87    100   98
Test4     84   72   90     98   78
Test5     57   30   76     90   72

In [59]:
grades["Eva"]

Test1    80
Test2    85
Test3    87
Test4    90
Test5    76
Name: Eva, dtype: int64

In [60]:
grades.Wally

Test1    87
Test2    63
Test3    42
Test4    84
Test5    57
Name: Wally, dtype: int64

In [61]:
grades2 = pd.Series([87, 100, 94], index = ["Wally", "Eva", "Sam"])
grades.values

array([[ 87, 100,  80,  96,  83],
       [ 63,  56,  85,  95,  67],
       [ 42,  87,  87, 100,  98],
       [ 84,  72,  90,  98,  78],
       [ 57,  30,  76,  90,  72]], dtype=int64)