# Optional Task 5 (Bonus)
- Author: Curtis Rogers
- Date: 9/15/2023
- Github Repo: ["Curt's P4 Github Repo"](https://github.com/curt2023/datafun-04-notebooks)

## Create a contacts list DataFrame
- Create the contact list.
- Separate each cloumn by a ",".
- Finally create a DataFrame that contains the contacts and defines the columns.

In [1]:
import pandas as pd


contacts = [["Frank Williams", "frank@email.com", "5555551234"], 
["Betty May", "betty@gmail.com", "5555552345"],
["George Patterson", "george@email.com", "5555554568"],
["Sally Roberts", "sally@gmail.com", "5555557894"],
["Mark Thompson", "mark@email.com", "5555556523"]]

contactsdf = pd.DataFrame(contacts,columns = ["Name", "Email", "Phone Number"])

contactsdf

               Name             Email Phone Number
0    Frank Williams   frank@email.com   5555551234
1         Betty May   betty@gmail.com   5555552345
2  George Patterson  george@email.com   5555554568
3     Sally Roberts   sally@gmail.com   5555557894
4     Mark Thompson    mark@email.com   5555556523

## Create a function that will map the values into a new format
- The desired format is ###-###-####.

In [5]:
import re
def get_formatted_phone(value):
    result = re.fullmatch(r"(\d{3})(\d{3})(\d{4})", value)
    return "-".join(result.groups()) if result else value

formatted_phone = contactsdf["Phone Number"].map(get_formatted_phone)

0    555-555-1234
1    555-555-2345
2    555-555-4568
3    555-555-7894
4    555-555-6523
Name: Phone Number, dtype: object

- Verify the that the formatted_phone is correct.
- If so, move on to the next step.

## Assign New Series to Contacts

In [6]:
contactsdf["Phone Number"] = formatted_phone

contactsdf

               Name             Email  Phone Number
0    Frank Williams   frank@email.com  555-555-1234
1         Betty May   betty@gmail.com  555-555-2345
2  George Patterson  george@email.com  555-555-4568
3     Sally Roberts   sally@gmail.com  555-555-7894
4     Mark Thompson    mark@email.com  555-555-6523

- The result is a new contact list with the formatted phone numbers